* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    jetbrainsmono nerd font,
    FontAwesome,
    Roboto,
    Arial,
    sans-serif;
  font-size: 13px;
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar {
  background: shade(@theme_bg_color, 0.8);
  border-bottom: 2px solid @unfocused_borders;
  color: @theme_text_color;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 20px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

/*
button {
 Use box-shadow instead of border so the text isn't offset 
  box-shadow: inset 0 -3px transparent;
  Avoid rounded borders under each button name 
  border: none;
  border-radius: 0;

  font-family:
    JetBrainsMono Nerd Font,
    sans-sherif;
  font-weight: bold;
}
*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff; 
} */

/* #workspaces {
  background: @accent_fg_color;
  margin: 5px 1px 6px 1px;
  padding: 0px 1px;
  border-radius: 16px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.5;
} */

#workspaces button {
  /*background-color: #665c54;
*   transition: all 0.3s ease-in-out;
*     border-radius: 15px;
  border: 0px;
*/
  color: @theme_text_color;
  font-family:
    JetBrainsMono Nerd Font,
    sans-sherif;
  font-weight: bold;
  font-size: 18px;
  padding: 0px 5px;
  margin: 4px 0px;
  opacity: 0.8;
}

#workspaces button.urgent {
  background-color: @error_color;
  color: @dark_5;
}

#workspaces button:hover {
  background: @accent_fg_color;
  color: @dark_5;
  opacity: 1;
}

/* #workspaces button.focused {
    background-color: #64828D;
    box-shadow: inset 0 -3px #ffffff;
} */

#workspaces button.active {
  /*  background: #32302f;
*    transition: all 0.3s ease-in-out;
*      min-width: 40px;
*/
  color: @accent_color;
  font-weight: bold;
  opacity: 1;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-playerctl,
#custom-playerlabel,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0px 10px;
  margin: 5px 0px;
  color: #ffffff;
  border-radius: 16px;
  opacity: 0.9;
  font-family:
    jetbrainsmono nerd font,
    sans-sherif;
}

#window,
#workspaces {
  margin: 0 4px;
  margin-left: 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: @accent_fg_color;
  color: @dark_5;
  margin-left: 10px;
}

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: @accent_fg_color;
  color: @dark_5;
}

#memory {
  background-color: @accent_fg_color;
  color: @dark_5;
}

#disk {
  background-color: rgb(69, 133, 136);
  color: #000000;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: transparent;
  color: @theme_text_color;
}

#network.disconnected {
  color: @error_color;
}

#pulseaudio {
  background-color: @accent_fg_color;
  color: @dark_5;
}

#pulseaudio.muted {
  background-color: @warning_color;
  color: @theme_text_color;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: @error_color;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#custom-logo {
  color: #458588;
  font-size: 22px;
  margin: 0px 10px;
  font-weight: bold;
}

#custom-exit {
  color: @accent_fg_color;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 10px;
  margin-right: 15px;
}

#temperature {
  background-color: @accent_fg_color;
  color: @dark_5;
}

#temperature.critical {
  background-color: @error_color;
  color: @error_color;
}

#tray {
  background-color: @accent_color;
  color: @dark_5;
  font-weight: bold;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#custom-playerctl {
  background-color: @dark_5;
  color: @dark_5;
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-left: 5px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
  background: transparent;
  color: @theme_text_color;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
