@use 'sass:color';

$bg: #3c3836;
$fg: #458588;
$accent: #8ec07c;
$radius: 7px;
$text-white: #fbf1c7;

window.Bar {
  border: 1px solid shade($fg, 0.7);
  border-radius: 10px;
  box-shadow: none;
  background-color: $bg;
  color: $text-white;
  font-size: 1.1em;
  font-weight: bold;

  label {
    margin: 0 8px;
  }

  .Workspaces {
    button {
      all: unset;
      background-color: transparent;

      &:hover label {
        background-color: color.adjust($fg, $alpha: -0.84);
        border-color: color.adjust($accent, $alpha: -0.8);
      }

      &:active label {
        background-color: color.adjust($fg, $alpha: -0.8);
      }
    }

    label {
      transition: 200ms;
      padding: 0 8px;
      margin: 2px;
      border-radius: $radius;
      border: 1pt solid transparent;
    }

    .focused label {
      color: $accent;
      border-color: $accent;
    }
  }

  .SysTray {
    margin-right: 8px;

    button {
      background: transparent;
    }

    button:hover {
      background-color: color.adjust($fg, $alpha: -0.84);
      border-color: color.adjust($accent, $alpha: -0.8);
    }
  }

  .FocusedClient {
    color: $accent;
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .Battery label {
    padding-left: 0;
    margin-left: 0;
  }

  .AudioSlider {
    * {
      all: unset;
    }

    icon {
      margin-right: 0.6em;
    }

    & {
      margin: 0 1em;
    }

    trough {
      background-color: color.adjust($fg, $alpha: -0.8);
      border-radius: $radius;
    }

    highlight {
      background-color: $accent;
      min-height: 0.8em;
      border-radius: $radius;
    }

    slider {
      background-color: $fg;
      border-radius: $radius;
      min-height: 1em;
      min-width: 1em;
      margin: -0.2em;
    }
  }
}
